<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MyfirstApp.My.MySettings.PTW_DB_BackupConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=Y:\DOCUMENTOS_LOCAIS\nPTW\PTW_DB_Backup.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>